//-Layout Base
extends layout/base.jade

//-Etiqueta Title
block title
	title Registro largo

block content
	//Contenido

	div.container-fluid
		section
			//Registro
			form#Registro(method="post")
				div.row
					//Datos
					div.col-md-12.col-xs-12
						
						//Nombres
						div.form-group
							input(type="text" aria-validar="texto" class="form-control" id="nombre" name="nombre" placeholder="Nombre Completo")

						//Email Input
						div.form-group
							input(type="email" class="form-control" id="email" name="email" placeholder="Email")

						//Password
						div.form-group
							input(type="password" class="form-control" id="password" name="password" placeholder="Contraseña")

						//Password
						div.form-group
							input(type="password" class="form-control" aria-validar="Cpass" id="Cpass" name="Cpass" placeholder="Confirmar Contraseña")

						//DATE Input
						div.form-group
							input(type="date" aria-validar="fecha" name="fecha" id="fecha")

						//Number Input
						div.form-group
							input(type="text" aria-validar="numeros" class="form-control" id="tarjetaID" name="tarjetaID" placeholder="Tarjeta de identidad")
						

						//Select
						div.form-group
							select(class="form-control" id="Col" name="Col")
								option(value="") ¿De cuál colegio eres?
								option(value="1") País 1
								option(value="2") País 2
								option(value="otro") Otro
									
						//checkbox
						div.checkbox
							input(type="checkbox", id="terminos" name="terminos" )
							//- <input type="checkbox" id="terminos" />
							label#auth(for="terminos").
								Leo y acepto los <a  data-toggle="modal" data-target="#myModal">términos y condiciones</a>

						//Radio
						div.radio

							label.
								<input type="radio" id="opcion1" name="Radios" value="opcion1">
								Opcion 1

							label.
								<input type="radio" id="opcion2" name="Radios" value="opcion2">
								Opcion 2

						//Textarea
						textarea.form-control(name="texto" aria-validar="maxlength" id="texto" )

						//Range
						div.form-group
							output Aburrida 
							input(type="range" aria-validar="rango" min="0" max="100" value="0" id="rango" name="rango" step="25")
							output#valor ¡Genial!

						//URL
						div.form-group
							input(type="url" aria-validar="url" value="direccion" name="url" id="url" )


						//File
						//- div.form-group
						//- 	input(type="file" value="selecciona Archivo" name="archivo" id="archivo" )
							
							


					

				button(type="submit" id="Btnregistro") Votar 
			
			///-Registro
block Scripts
	script(src='js/libs/jquery.validate.js')
	script(src='js/validarForm-largo.js')
