//-Layout Base
extends layout/base.jade

//-Etiqueta Title
block title
	title Registro corto

block content
	//Contenido

	div.container-fluid
		section
			//Registro
			form#Registro(action="", name="registro-corto")

				div.row
					//Datos
					div.col-md-6.col-xs-12
						
						//Nombres
						div.form-group
							input(type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre Completo")
							div.error.hidden
								

						//Password
						div.form-group
							input(type="password" class="form-control" id="password" name="password" placeholder="Contraseña")
							div.error
								

					div.col-md-6.col-xs-12
						//Email
						div.form-group
							input(type="email" class="form-control" id="email" name="email" placeholder="Email")
							div.error.hidden
								
						
						//Password
						div.form-group
							input(type="password" class="form-control" id="Cpass" name="Cpass" placeholder="Confirmar Contraseña")
							div.error.hidden
													
					

				button(type="submit" id="Btnregistro") Registrar 
			
			///-Registro
block Scripts
	script(src='js/libs/jquery.validate.js')
	script(src='js/validarForm.js')