//-Layout Base
extends layout/base.jade

//-Etiqueta Title
block title
	title Respuesta

block content
	//Contenido

	div.container-fluid
		section
			h2.
				Registro Guardado


block Scripts
	script(src='js/libs/jquery.validate.js')
	script(src='js/validarForm.js')