/* Large desktops and laptops */
/*@media (min-width: 1200px) 

*/



/* Portrait tablets and medium desktops */
// @media (min-width: 992px) and (max-width: 1199px) 
			


/* Portrait tablets and small desktops */
@media (min-width: 767px) and (max-width: 991px)

	.menu
		width 100%

	.banner
		background-size 100%
		height 43em

		.pasos
			margin-top 6em
			
	.btn-vid-registro
		top 115%
			
	.contenedor
		margin 0 auto
		width 85%
		img
			margin-top 6em
	
	#search .form-group
		width 88%
		
	.logo
		margin 0 auto
		
	.play
		top 30%
		width 17%
		
	.search-form
		max-width 50%
		margin 0 auto
		margin-top 1em
	


/* Landscape phones and portrait tablets */
@media (max-width: 767px)

	footer
		text-align center

	#compartir
		.ranking-title
			font-size 3em
	

	#search .form-group
		display inline-block
		width 85%
		
	#registro-footer .form-group
		display inline-block
		
	.banner
		background-size 100%
		height 34em
		
	.embed-responsive.embed-responsive-16by9
		margin-top 6em
		
		#video
			top 0
			left 0
			height 100%
			width @height
		
	.btn-vid-registro
		left 28%
		top 16%
		
	.btn-vid-registro
		left 24%
		top 107%
	
	.btn-vid-replay
		left 28%
		top 55%
		
	.contenedor
		margin 0 auto
		width 78%
		img, .pasos
			margin-top 6em
	.globo-icon
		height 59px
		width 63px
		

	.logo
		margin 0 auto
		
	.menu
		width 100%
		
	.menu .row .navbar-nav li a
		margin 0 auto
		width 40%
		text-align center
		
	.menu .row .navbar-nav .home
		background-image none
		width 40%
		zoom 1
		
		span
			display block
		
	.navbar-default .navbar-nav .open .dropdown-menu li a
		border-bottom 1px solid #fff
		border-top @border-bottom
		color #fff
		
		&:hover
			color Amarillo
		
	
	.play
		top 26%
		width 15%
		
	.search-form
		max-width 50%
		margin 0 auto
		margin-top 1em
	
	.table .cabezote th h4
		font-size 2.2em
		width 100%
		
	.table td
		font-size 1em

	


/* Landscape phones and smaller */
@media (max-width: 480px)

	#compartir button
		font-size 1.7em
		width 7.9em
		
		.social-icon
			height 32px
			width @height

	#Registro label
		font-size 1.2em
		
	#compartir .ranking-title,	
	#Registro .acudiente-title,
	#Registro .datos-title,
	#voto .confirmacion,
	.ranking-title 
		font-size 2.2em

	#search .form-group
		width 70%
		
	#voto .volverHome
		max-width 100%
		
	.embed-responsive.embed-responsive-16by9
		margin-top 0
		
	.btn-vid-registro
		left 5%
		top 10%
	
	.btn-vid-replay
		left 5%
		top 60%
	
	.banner
		height 28em
		
	.bg-cuaderno .row
		padding 1em 0.5em		
	.contenedor
		max-height 16em
		overflow hidden
		width 100%
		
		img, .pasos
			margin-top 3em
			
	.menu .row .navbar-nav li a
		width 100%
	
		
	.play
		left 43%
		top 35%
		width 18%
		
	.search-form
		max-width 90%
		
	#participar,
	#Btnregistro,
	.volverHome,
	.btn-vid-registro,
	.btn-vid-replay
		font-size 2em
	
	.btn-vid-registro
		left 12%
		top 124%
		
@media (max-width: 320px)

	.btn-vid-registro
		left 0%