//Modal Términos y Condiciones
div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	div.modal-dialog
		div.modal-content
			div.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4(class="modal-title" id="myModalLabel") TÉRMINOS Y CONDICIONES DUREX LOVE MUSIC
			div.modal-body
				p.
					Esta actividad estará vigente entre el 16 de marzo de 2015  a las 8:00 am y el 1 de noviembre de 2015 a las 18:00, aplica para el territorio nacional. En la actividad pueden participar personas en todo el mundo, sin embargo la premiación solo se hará entre los colegios seleccionados para la campaña “Ama Tu Vida” en la ciudad de Bogotá, D.C. 
				 
				p.
					Este reglamento delimita y aclara las condiciones bajo las cuales se regirá la actividad “Durex Love Music”:
				 
				p.
					Lo aquí dispuesto será de acatamiento obligatorio para los participantes y  él organizador. Se entenderá que todo participante, conoce, entiende y acepta las condiciones y limitaciones establecidas en el presente reglamento. La participación en la actividad implica la decisión del participante de obligarse por estas reglas y por las decisiones del organizador, las cuales tendrán carácter definitivo en todos los asuntos relacionados a la actividad. Cualquier violación a las mismas o a los procedimientos o sistemas establecidos para su realización, implicará la inmediata exclusión de la participante y/o la eliminación del ganador.

				h5(class="btn btn-info" data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapseExample") De los Realizadores:

				div(class="collapse" id="collapse1")
					div(class="well")
						p.
							Reckitt Benckiser Colombia S.A. (RB) es el organizador de la actividad.

				h5(class="btn btn-info" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapseExample") De los participantes:

				div(class="collapse" id="collapse2")
					div(class="well")
						p.
							Todas las personas interesadas en participar deberán tener documento de identificación vigente (tarjeta de identidad, cédula de ciudadanía, cédula de extranjería o cualquier documento equivalente), el mismo deberá presentarse en caso de ser acreedor de algún premio. Toda persona que desee participar en la actividad o reclamar el premio, deberá leer completamente el presente reglamento. En caso de ser menor de edad, la participación y el registro deberá estar respaldado por los datos del acudiente que a su vez manifiesta y acepta los términos y condiciones a la actividad “Durex Love Music”. En el momento de reclamar el premio, el ganador (si es menor de edad) deberá acudir con el acudiente, al sitio de entrega del premio.

						//- p.
						//- 	Una vez leído, deberá aceptar los términos y condiciones previstos. Con la lectura y aceptación de los términos y condiciones los participantes admiten conocer y aceptar las condiciones de participación así como las condiciones, limitaciones y responsabilidades, no sólo de este reglamento, sino las que en virtud de este mismo documento conllevan el reclamo y aceptación de un premio.
							 
						//- p.
						//- 	Así mismo, se deja constancia que los premios de esta actividad se entregarán únicamente a personas que cumplan con los requisitos establecidos en este reglamento.


				//- h5(class="btn btn-info" data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapseExample") Vigencia:

				//- div(class="collapse" id="collapse3")
				//- 	div(class="well")
				//- 		p.
				//- 			La actividad estará vigente en las fechas indicadas a continuación:

				//- 		p.
				//- 			Inicia el <span class="bg-info">2 de Marzo de 2015 a las 8:00 horas y termina el 1 de Noviembre</span> de 2015 a las 18:00 horas de Colombia.
						
				//- 		p.
				//- 			Todos los participantes deben ingresar a la página web <a href="#">www.amatuvida.com.co</a>  y dar clic en la sección Durex Love Music.


				h5(class="btn btn-info" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapseExample") Mecánica:

				div(class="collapse" id="collapse4")
					div(class="well")
						p.
							Todos los participantes deben ingresar a la página web <a href="#">www.amatuvida.com.co</a> y dar clic en la sección Durex Love Music.

						p.
							Para participar en el concurso los participantes deben diligenciar los datos solicitados por el portal virtual de Durex <a href="#">www.amatuvida.com.co</a> (Nombre completo, documento de identidad, fecha de nacimiento, email y en caso de pertenecer a un colegio indicarlo) y votar por el colegio que quieran sea el ganador del concierto Durex Love Music.

						
						p.
							En este formulario deberán leer y aceptar el Aviso de privacidad y los Términos y condiciones del portal virtual y de la actividad.

						p.
							En el formulario de registro el participante tendrá la opción para escoger su colegio. Si el colegio no está dentro de las opciones de “De cuál colegio eres”, la persona deberá escoger la opción Otro y allí aparecerá un campo para escribir el nombre del colegio.

						p.
							Adicionalmente, los participantes deberán escoger el colegio por el cuál votan. Aquí sólo aparecerán el listado de colegios que hacen parte del programa de visitas del programa Ama tu vida, en la ciudad de Bogotá, D.C.

						p.
							Posteriormente, aparecerá un botón para enviar los datos y continuar con la actividad, este botón se llama “Votar”.

						p.
							Al dar clic en esta opción, le aparecerá al participante un mensaje de confirmación de su voto. Cada persona sólo podrá votar 1 vez por un mismo colegio.

						p.
							Al final de la actividad, gana el colegio con mayor votación.

						p.
							En la página se publicará el ranking  de colegios con votos (organizado de mayor a menor votación) que se actualizará en tiempo real.


				h5(class="btn btn-info" data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapseExample") Restricciones:

				div(class="collapse" id="collapse5")
					div(class="well")

						p.
							Las personas deberán ver el video para poder diligenciar el formulario de registro.
						p.
							Cada persona sólo podrá votar 1 vez por un mismo colegio.
						p.
							Los datos del acudiente en caso de ser menor de edad son obligatorios para completar el registro.
						p.
							El colegio ganador deberá pertenecer al listado de colegios del programa “Ama tu vida Durex”.  
						p.
							La actividad sólo tendrá un colegio ganador, el cual se escogerá por votación. 
						p.
							En caso de empate se realizará un sorteo entre los colegios empatados.

				h5(class="btn btn-info" data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapseExample") Premio:

				div(class="collapse" id="collapse6")
					div(class="well")

						p.
							Al finalizar la actividad, la marca seleccionará a un (1) colegio ganador de la ciudad de Bogotá, D.C., quien será el que haya logrado el mayor número de votos (de acuerdo a lo establecido en estos términos y condiciones). Este colegio se hará acreedor al “Durex Love Music” un concierto en vivo de un reconocido artista juvenil colombiano. La marca escogerá el artista a su criterio y comunicará próximamente el nombre del mismo en la página web <a href="#">www.amatuvida.com.co</a>
						p.
							En ningún caso el premio no podrá ser canjeado por dinero.
						p.
							El colegio ganador será comunicado el 13 de noviembre en la página web <a href="#">www.amatuvida.com.co</a> y será notificado telefónicamente.
						p.
							El concierto se realizará en una fecha por definir, la cual se concretará directamente ya con el colegio ganador.


				h5(class="btn btn-info" data-toggle="collapse" href="#collapse7" aria-expanded="true" aria-controls="collapseExample") Consideraciones importantes:

				div(class="collapse" id="collapse7")
					div(class="well")

						p.
							Cada concursante autoriza a RB para dar a conocer los resultados de la actividad, publicar el nombre  de su colegio como ganador (en caso de que aplique) o dar a conocer información alusiva a la misma, realizar material audiovisual sobre el concurso y entrega de los premios, en cualquier medio publicitario.
						p.
							Si el colegio ganador no acepta el beneficio o condiciones del premio o las condiciones contenidas en este reglamento, se considera que renuncia al mismo. Además se entiende que renuncia a cualquier reclamo que pudiera ejercer en cualquier instancia incluyendo las instancias administrativas y/o judiciales, y también renuncia a ejercer acciones de indemnización total o parcial contra RB y sus marcas.
						p.
							RB y sus marcas podrán tomar la decisión de descalificar definitivamente a un participante o colegio en caso de detectar fraude, datos falsos o por incumplir con estos Términos y Condiciones. También RB podrá decidir a su consideración, descalificar a un participante si considera que su actuación puede afectar de cualquier manera a la moral, al orden público y/o a las buenas costumbres y/o puedan causar un prejuicio de cualquier índole al resto de participantes, a terceras personas o al buen nombre de Durex y/o RB.
						p.
							RB se reserva el derecho de eliminar comentarios que se realicen en los contenidos de su página y que considere puedan afectar el buen nombre de la marca, el desarrollo de la actividad o la integridad de alguno de los participantes.
						p.
							RB, sus representantes, funcionarios, administradores y empleados no se responsabilizan por los comentarios, mensajes ni cualquier tipo de manifestación que los participantes, visitantes o personas que interactúen en la página de Facebook de Durex Colombia y terceros puedan colocar en el perfil de la marca en Facebook o en la página web <a hef="#">www.amatuvida.com</a>, toda vez que cada participante al consentir libre y voluntariamente en participar en el presente concurso se mantiene como único y exclusivo responsable de sus contenidos y comentarios. 
						p.
							No podrán participar empleados ni funcionarios de RB y sus marcas o sus empresas afiliadas o relacionadas, sus cónyuges y familiares hasta el segundo grado de consanguinidad, segundo de afinidad y único civil.  Tampoco podrán participar los empleados y trabajadores en misión de las compañías proveedoras de insumos relacionados con el producto participante, sus cónyuges y familiares hasta el segundo grado de consanguinidad, segundo de afinidad y único civil, ni los empleados y trabajadores en misión de las agencias de publicidad e internet intervinientes en la actividad, sus cónyuges y familiares hasta el segundo grado de consanguinidad, segundo de afinidad y único civil. 
						p.
							. Al registrarse en la actividad, las participantes autorizan a Reckitt  Benckiser (RB) y sus marcas o a sus empresas afiliadas o relacionadas para que almacene y utilice sus datos personales para fines de contacto, fines promocionales, para evaluar la calidad del servicio, realizar estudios sobre hábitos de consumo y preferencias. RB y sus marcas garantizan la privacidad en el manejo de estos datos. Sin embargo el consumidor podrá decidir no seguir suscrito en cualquier momento, para ello podrá contactar a RB a través del e-mail: <a href="mailto:Consumer.relations-LATAM@rb.com">Consumer.relations-LATAM@rb.com</a> o teléfono: 018000513499.            
						p.
							RB se reserva el derecho de hacer ajustes a los términos y condiciones planteados en cualquier momento de la actividad. 
						//- p.
						//- 	RB se reserva el derecho de hacer ajustes a los términos y condiciones planteados.


				h5(class="btn btn-info" data-toggle="collapse" href="#collapse8" aria-expanded="true" aria-controls="collapseExample") Disposiciones sobre menores de edad:

				div(class="collapse" id="collapse8")
					div(class="well")

						p.
							Si el Participante es un menor de edad, para inscribirse a la actividad debe estar acompañado de la aceptación de los Términos y Condiciones por parte de su acudiente, sean sus padres, tutores o curadores, según el caso. Sólo hasta que el menor o quien esté limitado en su capacidad de ejercicio obtenga dicha aceptación, se entiende que el Participante está haciendo uso válido de la Página <a href="#">www.amatuvida.com.co</a> 
						p.
							Si el menor de edad no obtiene esa aceptación, no está habilitado para hacer uso de la página de Durex y por tanto de la actividad Durex Love Music. Se entiende que los padres, tutores o curadores, según el caso, han otorgado la mencionada autorización por el sólo uso de las Página (<a href="#">www.amatuvida.com</a>) por parte del menor de edad.
						p.
							La información personal suministrada por el Representante Legal del menor, será tratada conforme a la ley 1582 de 2012, decreto reglamentario No.1377 de 2013, y la Política de Protección de datos de RB.
						p.
							Los menores de 18 años no deberán ingresar ni utilizar los servicios que prestan las Páginas de RB sin el previo consentimiento de sus padres, tutor o curador. Los Participantes menores de 18 años no podrán registrarse por su propia cuenta para acceder a los servicios que prestan las Páginas, sino únicamente con el consentimiento de sus padres, tutores o curadores, según el caso.

						p.
							RB manifiesta, conforme a las disposiciones del Código del Menor o de las leyes aplicables, que el objeto de la página de Durex <a href="#">www.amatuvida.com.co</a> no es atentar contra la moral, o la salud física o mental de los menores de edad u obtener información confidencial e íntima del Participante con el propósito de usarla en su contra. Los padres, tutores o curadores del Participante menor de edad son responsables totalmente por la utilización que el menor de edad haga del sitio o página web.

///-Modal Términos y Condiciones

//Modal Privacidad

div(class="modal fade" id="ModalPrivacidad" tabindex="-1" role="dialog" aria-labelledby="ModalPrivacidad" aria-hidden="true")
	div.modal-dialog
		div.modal-content
			div.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4(class="modal-title" id="myModalLabel") Aviso de Privacidad
			div.modal-body

				p.
					Los datos personales que se recopilan serán tratados por Reckitt Benckiser Colombia S.A., casa matriz o por alguna de sus filiales de conformidad con la Ley 1581 de 2012 y el decreto reglamentario 1377 de 2013, la información recopilada será utilizada para informarle sobre nuestros eventos, resolver sus dudas, conocer su opinión y comentarios sobre nuestros productos (cuidado del hogar, cuidado personal, medicamentos y dispositivos médicos). En todo momento, usted podrá revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos personales, a fin de que dejemos de hacer uso o divulgación de los mismos. Para ello usted podrá presentar su petición en la siguiente dirección electrónica: <a href="mailto:cosumer.relations-LATAM@rb.com">cosumer.relations-LATAM@rb.com</a> o al Tel: 01800513499.



///-Modal Privacidad