//Ranking
div.row

	div.col-md-12

	h3.ranking-title Ranking
		span.globo-icon.copa

	//Tabla de posiciones

	table(class="table")
		
		thead
			tr.cabezote
				th
					h4 Colegio
				th 
					h4 Votos

		tbody
			tr.success
				td San Vicente de Paul
				td 10.0000
			tr
				td San Vicente de Paul
				td 10.0000

			tr
				td San Vicente de Paul
				td 10.0000

			tr
				td San Vicente de Paul
				td 10.0000

			tr
				td San Vicente de Paul
				td 10.0000

			tr
				td San Vicente de Paul
				td 10.0000

///-Ranking